<?xml version="1.0" ?>
<launch>
    <rosparam file="$(find leap_motion_demo)/config/listener_params.yaml" command="load" />
    <node name="leap_motion" pkg="leap_motion" type="leap_motion_driver_node" respawn="false" output="screen" />
  <group ns="leap_motion">
    <node pkg="leap_motion" type="leap_camera" name="leap_camera" output="screen"/>
    <node pkg="leap_motion" type="leap_hands" name="leap_hands" output="screen"/>
  </group>        
  <node name="robotont_leap_demo" pkg="leap_motion_demo" type="demo_with_gestures.py" output="screen" />
</launch>
